examples/*
examples/*.exe
examples/*/*
examples/*/*.exe
!examples/*/
!examples/*.*
!examples/*/*.*
*.exe
*.o
*.obj
*.core
*.so
*.dll
*.lib
*.dylib
*.a
/Makefile
/build
compile_flags.txt
.cache
.DS_Store

*.pef
*.dsk
*.bin
*.rsrc
*.finf
*.gdb
